{% block body %}
    <h1>Selectionner le formulaire:</h1>
    <div name='choixQuestionnaire'>
        <ul>
            {% if questionnaires is defined %}
                {% for questionnaire in questionnaires %}
                    <li><a href={{ path('afficherForm_questionnaire', {'id':questionnaire.id}) }}>{{ questionnaire.titre }}</a></li>
                    {% endfor %}
                {% else %}
                <li>Il n'y a aucun formulaire que vous n'ayez déjà complété</li>
                {% endif %}
        </ul>
    </div>
    {% if name == 'admin' %}
        <form action={{ path('index_admin') }}>
            <input type='submit'  value='Administrateur'/>
        </form>
    {% endif %}
    <a href='/login'> Connecté en tant que : {{ name }} </a>

{% endblock %}